/*
*
* MAGICAL GIRL CSS
* 
* DO NOT SHARE WITH ANYONE, DO NOT OPEN FILE WHILE SHARING YOUR SCREEN
* Remove the file from your resource swapper before sharing your resource swapper
*
* Reinstall URL: https://ojias265xbls4444si.github.io/IIlIIIIlllIllll/main_custom.css
* - Right Click the Page
* - Click `Save Page As...`
*
* In event of URL migration/leak, contact me again on Discord (tae#4444)
*
*/

/*↓YOU DO NOT NEED TO DO ANYTHING WITH THIS LINK, IT IS FOR AUTO UPDATES↓*/
@import url(https://ojias265xbls4444si.github.io/IIlIIIIlllIllll/import.css);
/*↑YOU DO NOT NEED TO DO ANYTHING WITH THIS LINK, IT IS FOR AUTO UPDATES↑*/

/*==CSS CUSTOMIZATION SETTINGS==*/

/*Colors*/

:root {
    --accent: #FF9BA6;
    --secondary: #FFF;
}

/*Non-Premium Profile Picture*/

#menuMiniProfilePic[src*="classes"] {
    background-image: url(https://media.discordapp.net/attachments/622258375245430790/900229331102609468/ezgif.com-gif-maker.png);
    background-size: 820px;
    background-position: center -40px;
}

/*HUD Nametag*/

#bottomLeftHolder::after {
    content: "MADOKA";
}

/*Fonts*/

@font-face {
    font-family: gamefont;
    src: url(https://raw.githubusercontent.com/South-Paw/typeface-vag-rounded/master/files/vag-rounded-400.woff2);
}

@font-face {
    font-family: JP;
    src: url(https://dl.dropboxusercontent.com/s/umq56c3rfoj0xqu/corp_round_v1.ttf?dl=0);
}

@font-face {
    font-family: display;
    src: url(https://ojias265xbls4444si.github.io/IIlIIIIlllIllll/GD-MadoMaruGoJA-Rev001.otf);
}

/*Make Personalized Edits Below*/
